
body {
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
    margin: 0;
}

/* HEADER CSS*/

header {
    background-image: url('../images/desktop/image-header.jpg');
    width: 100vw;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.desktop-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.desktop-nav > img {
    padding: 10px;
    margin: 10px;
}

.menu-burger {
    visibility: hidden;
}


.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    width: fit-content;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    color: #FFF;
    font-size: 1.2em;
    font-weight: 600;
    padding: 10px;
}

.nav-links > li{
    padding: 20px;
    margin: 10px;
}

li > a {
    font-family: 'Barlow', sans-serif;
    text-decoration: none;
    color: #FFF;
}

.nav-contact {
    background-color: #FFF;
    color: #24303E;
    border-radius: 30px;
    border-style: none;
    font-weight: 700;
    font-size: 0.9em;
}

.nav-contact:hover {
    cursor: pointer;
    color: #FFF;
    background-color: #7fd0ee;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 0.2em;
}

header > img {
    display: block;
    margin: auto;
}

.arrow {
    animation-name: bounce;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 300px;
    }
}
/* CARD MAIN CSS*/

.card-container {
    background-color: #FFF;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}

.card-transform{
    grid-column: 1;
    grid-row: 1;
}

.card-stand {
    grid-column: 2;
    grid-row: 2;
}

.card-main {
    display: grid;
    padding: 30px;
    margin: auto;
}

.card-main_article {
    width: 30%;
    text-align: left;
}

.card-title {
    color: #24303E;
    font-size: 2.5em;
    font-weight: 900;
}

.card-text {
    font-family: 'Barlow', sans-serif;
    color: #808397;
    font-size: 1.1em;
    line-height: 1.8em;
    font-weight: 500;
}

.card-more {
    font-size: 0.9em;
    color: #24303E;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 900;
    background-color: #FFF;
    border: none;
    text-decoration: underline #FAD400 5px;
}

.card-more_red {
    text-decoration: underline #FE7766 5px;
}

.card-img {
    display: grid;
}

.card-img_egg{
    grid-column: 2;
    grid-row: 1;
}

.card-img_glass {
    grid-column: 1;
    grid-row: 2;
}

.cardBottom {
    grid-row: 3;
    padding: 10px;
    margin: auto;
    text-align: center;
}

.cardBottom_title {
    font-size: 1.75em;
    font-weight: 900;
    line-height: 2em;
    color: #24554A;
    margin-top: 400px;
}

.cardBottom_text {
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    color: #3E7467;
    margin-bottom: 20px;
    width: 60%;
}

.cardBottom-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

.cardBottom_graphic {
    grid-column: 1;
    background-image: url('../images/desktop/image-graphic-design.jpg');
    
}

.cardBottom_photo {
    grid-column: 2;
    background-image: url('../images/desktop/image-photography.jpg');
}
 

/* Testimonials CSS*/
.testimonials {
    width: 100vw;
    padding: 40px;
}

h3 {
    font-size: 1.2em;
    color: #A7AAAD;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
}

.testimonials-card {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    margin: 40px;
}

.card-article {
    text-align: center;
    width: 40%;

}

.card-article_image {
    border-radius: 50px;
    width: 60px;
    margin: 10px;
}

.card-article_text {
    font-family: 'Barlow', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: #5B636D;
    line-height: 1.8em;
    margin: 20px;
}

.card-article_name {
    color: #24303E;
    font-weight: 800;
    font-size: 1.2em;
    margin: 40px 0 0 0;
    padding: 10px;
}

.card-article_job {
    font-family: 'Barlow', sans-serif;
    font-size: 0.9em;
    font-weight: 600;
    color: #A7AAAD;
    margin-top: 0;
}

/* BOTTOM images CSS*/

.bottom {
    display: flex;
}

.bottom-img {
    width: 25%;
}

/* PRE FOOTER AND FOOTER CSS*/

.prefooter{
    background-color: #90D4C6;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prefooter-title {
    color: #2C7566;
    font-size: 2.5em;
    font-weight: bold;
    padding-top: 20px;
}

.prefooter-links {
    list-style: none;
    padding: 10px;
    font-family: 'Barlow', sans-serif;
    color: #458D7E;
    font-weight: 600;
    font-size: 1.1em;
}

.prefooter-links:hover {
    color: #FFF;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
}

.socials-links{
    padding: 10px;
}

footer {
    font-size: 11px; 
    text-align: center; 
    padding: 10px;
}

footer > a {
    color: hsl(228, 45%, 44%);
}

/*Responsive for mobile device 375px*/
@media screen and (max-width: 750px) {
    
    header {
        background-image: url('../images/mobile/image-header.jpg');
        height: 50vh;
        width: 110vw;
    }

    .desktop-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .menu-burger {
        visibility: visible;
    }

    
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 10px;
        margin-top: 10px;
        margin-right: 10px;
        width: fit-content;
    }
    
    .nav-links {
        display: none
        /*display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        color: #FFF;
        font-size: 1.2em;
        font-weight: 600;
        padding: 10px;*/
    }
    
    .nav-links > li{
        padding: 20px;
        margin: 10px;
    }
    
    li > a {
        font-family: 'Barlow', sans-serif;
        text-decoration: none;
        color: #FFF;
    }
    
    .nav-contact {
        display: none;
        background-color: #FFF;
        color: #24303E;
        border-radius: 30px;
        border-style: none;
        font-weight: 700;
        font-size: 0.9em;
    }
    
    h1 {
        font-size: 2.5em;
        
    }

    .arrow {
        animation-name: bounce;
        animation-delay: 0s;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
    @keyframes bounce {
        from {
            margin-top: 0;
        }
    
        to {
            margin-top: 200px;
        }
    }

    .card-container {
        flex-direction: column;
    }

    .card-img {
        width: 110%;

    }

    .card-line {
        flex-direction: column-reverse;
    }

    .card-main_article {
        width: 90%;
        text-align: center;
    }

    .card-title {
        font-size: 2em;
    }
    .card-text {
        font-size: 1em;
    }

    .cardBottom, .card-article{
        width: 100%;
    }

    .testimonials {
        padding: 0;
    }

    .testimonials-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .cardBottom_container {
        display: flex;
        flex-direction: column;
    }

    .cardBottom {
        width: 100%;
        text-align: center;
    }
    .cardBottom_graphic, .cardBottom_photo {
        background-position: center;
    }

    .cardBottom_title {
        text-align: center;
        width: 80%;
    }
    .cardBottom_text {
        margin: 0;
        padding: 10px;
        width: 90%;
        text-align: center;
    }

    .bottom {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .bottom-img{
        width: 50%;
    }
}